* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*HEADER*/
header {
    font-size: 13px;
    margin-bottom: 2px;
}

.header-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    padding-left: 3px;
    padding-top: 16px;
    padding-right: 18px;
}

li button {
    background-color: #4285F4;
    width: 70px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.header-ul li:nth-of-type(2){
    margin-top: 1px;
}
.header-ul li:nth-of-type(1){
    margin-top: 2px;
    padding-right: 12px;
}

/*MAIN CONTENT*/
.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button-area button {
    font-size: 14px;
    padding: 10px 16px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
}

.headline {
    margin-top: 9px;
    margin-bottom: 21px;
}

.search-area {
    position: relative;
    padding-bottom: 32px;
    width: 580px;
}

.button-area {
    margin-top: 1px;
    margin-bottom: 28px;
    margin-left: 5px;
}

.language-area {
    font-size: 13px;
    /* padding-bottom: 800px; */
}
.language-area p{
    padding-right: 4px;
}
.language-area a{
    margin-left: 4px;
    text-decoration: none;
    color: blue;
}

.search-area input {
    width: 580px;
    height: 45px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 22.5px;
}

.image-one {
    width: 25px;
    position: absolute;
    top: 10px;
    left: 10px;

}

.image-two {
    position: absolute;
    width: 14px;
    right: 21px;
    top: 13px;
}
.button-area button:nth-of-type(1){
    margin-right: 2.5px;
}
.button-area button:nth-of-type(2){
    margin-left: 2.5px;
}

/*FOOTER*/
footer {
    color: #5f6368;
    background-color: #f2f2f2;

    font-size: 14px;
}
.location{
    
    font-size: 15px;
    display: flex;
    align-items: end;
    height: 48px;
    border-bottom: 1px solid rgb(215, 215, 215);
    padding-bottom: 15px;
    padding-left: 30px;
}

.footer-area {
    height: 48.5px;
    display: flex;
    justify-content: space-between;
    margin-left:30px ;
    margin-right:22px ;
}

.footer-ul {
    display: flex;
}
.footer-ul.one li{
    padding-right: 27px;
}
.footer-ul.two li{
    padding-left: 12px;
}
